---
layout: default
---

<div class="home">
  <p class="home-heading">Recent</p>

  {% for post in site.posts %}
    <div class="day-entry">
      <h3 class="day-date">
        <a href="{{ post.url | relative_url }}">{{ post.date | date: "%B %-d, %Y" }}</a>
      </h3>

      {% if post.summary %}
        <p class="day-summary">{{ post.summary }}</p>
      {% endif %}

      {% if post.titles %}
        <ul class="day-titles">
          {% for title in post.titles %}
            <li>{{ title }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  {% endfor %}
</div>
